.git
**/.env
**/node_modules
frontend/.next
backend/vendor
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
docs
backend/public/storage
backend/public/css/filament
backend/public/js/filament
backend/public/fonts/filament
backend/storage/app/public/*
backend/storage/app/private/*
backend/tests
frontend
